name: Download and Unzip

on:
  workflow_dispatch:

jobs:
  download-unzip:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Download and extract zip file
      run: |
        # Replace with your actual URL
        curl -L -o temp.zip "https://github.com/PortsMaster/PortMaster-New/releases/download/2025-10-04_1030/manicminer.zip"
        rm -rf latest
        mkdir latest
        pwd
        unzip -q temp.zip -d latest/
        ls -ltr latest/
        rm temp.zip
        
    - name: Commit changes
      run: |
        git config user.email "tim@monkeyx.net"
        git config user.name "monkeyx-net"
        git status
        git add -A latest/
        git commit -m "Update latest folder" || exit 0
        git push